@page "/"

    <div class="col p-2">
        <div class="btn-group" role="group" arial-label="Basic example">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">New User</button>
      </div>

        <div class="col p-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="modal" tabindex="-1" id="exampleModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <EditForm  Model="model" OnInvalidSubmit="@RegisterForm">

                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="InputEmail">Email</label>
                            <input type="email" class="form-control" id="InputEmail" placeholder="Enter Email">
                        </div>

                        <div class="form-group">
                            <label for="InputFirstName">First Name</label>
                            <input type="text" class="form-control" id="InputFirstName" placeholder="Enter First Name">
                        </div>

                        <div class="form-group">
                            <label for="InputEmailLastName">Last Name</label>
                            <input type="text" class="form-control" id="InputEmailLastName" placeholder="Enter Last Name">
                        </div>

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck">
                            <label class="form-check-label" for="exampleCheck">Check me out</label>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>

                </EditForm>

            </div>
        </div>
    </div>

@code {

    private void RegisterForm()
    {
        Console.WriteLine("");
    }

}
